*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #5e32a8;
    color: #fff;

}

.container {
    max-width: 60%;
    margin: auto;
    padding: 0 2rem;
}

#title {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 0.5rem;
}


#description{
    text-align: center;
    padding-bottom: 2rem;
}

#survey {
    background-color: #331b5c;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 5px 5px 5px #942cf7;
}



.inputUsuario{
    width: 100%;
    height: 2.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;




}

.select{
    display: flex;
}

#dropdown{
    width: 100%;
    height: 2rem;
    margin-top: 0.5rem;

}
.radiobuttons {
    margin-top: 1rem;
}

.bolinhas{
    display: flex;
}

.bolinhas input {
    width: 1.4rem;
}

.bolinhas label {
    padding-right: 1rem;
}

.checkButtons {
    margin-top: 1rem;
}

.textArea {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.textArea textarea{
    width: 100%;
    height: 5rem;
}


#submit {
    width: 100%;
    height: 2.5rem;
    background-color: #831ce4;
    border: solid 1px white;
    color: white;
}